<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">

		  <p>
              <p> t~ai is part of the <a href="https://www.unsw.edu.au/science/our-schools/maths">School of Mathematics and Statistics</a> at <a href="https://www.unsw.edu.au"> UNSW Sydney</a>.</p>
Copyright @ 2023 t~ai

		   <p>  </p><p>


		</div>
		 
		<div class="col-sm-4">
		  Social:<br />
		  LinkedIn<br />
		  ResearchGate<br />
		  Facebook<br /> 
		</div>
	  </div>
	</div>
  </div>
</div>
 
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
